.Rproj.user
.Rhistory
.RData
.Ruserdata
*.DS_Store
*.html
*.docx
scratch/*
.snakemake
workflow/data
workflow/results
resources/*
data/gene_stat_tbls/*
data/mrg_benchmarkset
docs/ASHG-2020-MRG-Poster-Complete.pptx
data/gene_coords
data/refs
data/false_dups
